* {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body.menu-open, body.modal-open {
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.ul {
  list-style: none;
}

a {
  font-style: normal;
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.header {
  padding-top: 16px;
  padding-bottom: 17px;
  background-color: #000000;
}

.header-content {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 66px;
}

.header__contact {
  padding: 4px 8px;
  width: 151px;
  height: 32px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-right: 282px;
}

.header__nav-list {
  display: flex;
}

.header__nav-item:not(:last-child) {
  margin-right: 20px;
}

.header__nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
}

.template {
  margin-left: auto;
}

.template-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-right: 26px;
}

.template-btn {
  min-width: 207px;
  min-height: 48px;
  background: #FF7143;
  border-radius: 6px;
  padding: 12px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
}

.hero {
  background-color: #FF7143;
  padding-top: 91px;
  padding-bottom: 100px;
  text-align: center;
}

.hero-container {
  display: flex;
}

.hero__tittle {
  font-weight: 700;
  font-size: 72px;
  line-height: 1;
  text-align: center;
  color: #000000;
  margin-bottom: 27px;
}

.hero__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  margin-bottom: 22px;
}

.hero-btn-first {
  min-width: 226px;
  height: 64px;
  background: #000000;
  border-radius: 6px;
  padding: 20px 32px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  margin-right: 8px;
}

.hero-btn {
  width: 208px;
  height: 64px;
  padding: 20px 32px;
  background: #FFFFFF;
  border-radius: 6px;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 160px;
}

.hero__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}

.hero-item:not(:last-child) {
  margin-right: 10px;
}

.hero-img {
  height: 860px;
  left: 67.42%;
  right: 0%;
  top: -128px;
}

.icon {
  padding-top: 85px;
  padding-bottom: 83px;
}

.icon-list {
  display: flex;
}

.icon-label {
  background: #FDE7DA;
  border-radius: 0px;
  padding: 26px;
  width: 100px;
  height: 100px;
}

.icon-img {
  float: left;
}

.icon-tittle {
  text-align: right;
}

.druk {
  padding-top: 100px;
  padding-bottom: 114px;
  background-color: #000;
  text-align: center;
}

.druk-svg {
  background-color: #fff;
}

.druk-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.druk-tittle {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  /* or 120% */
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.druk-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  text-align: center;
  color: #FFFFFF;
}

.druk-company {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 30px;
}

.druk-content {
  display: flex;
}

.footer {
  background-color: #000;
  padding-top: 80px;
  padding-bottom: 30px;
}

.footer-btn {
  min-width: 185px;
  height: 48px;
  padding: 12px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  color: #000000;
  display: block;
  background: #FFFFFF;
  border-radius: 6px;
  margin-left: auto;
}

.footer-content {
  display: flex;
  margin-bottom: 64px;
}

.footer-nav {
  display: flex;
}

.footer-list {
  display: flex;
}

.footer-item:not(:last-child) {
  margin-right: 16px;
}

.footer-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  color: #FFFFFF;
}

.footer-contact {
  display: flex;
  margin-left: auto;
}

.footer-contact-item:not(:last-child) {
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */