.druk{
    
}

.druk-container{
    display: flex;
    background-color: #000;
}

.druk-content{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 114px;
    margin-right: 160px;
    margin-left: 117px;
}

.druk-svg{
    background-color: #fff;
}

.druk-logo {
    font-weight: 700;
    font-size: 35px;
    line-height: 1.5;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.druk-tittle {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    max-width: 576px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.druk-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: #FFFFFF;
}
.druk-company {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
}
.druk-img{
    margin-right: 0;
}