.footer{
    background-color: #000;
    padding-top: 80px;
    padding-bottom: 30px;
}
.footer-btn{
    min-width: 185px;
    height: 48px;
    padding: 12px 32px;
    font-weight: 700;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */

color: #000000;
display: block;
background: #FFFFFF;
border-radius: 6px;
margin-left: auto;
}
.footer-content{
    display: flex;
    margin-bottom: 64px;
}

.footer-nav{
    @media screen and (min-width: 768px){
        display: flex;
    }
    
}
.footer-list{
    margin-bottom: 10px;
    text-align: center;
    @media screen and (min-width: 768px){
        display: flex;
    }
}
.footer-item:not(:last-child){
    margin-right: 16px;
}
.footer-link{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */


color: #FFFFFF
}
.footer-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px){
        margin-left: auto;
    }
    
}
.footer-contact-item:not(:last-child){
    margin-right: 10px;
}