.header{
    padding-top: 16px;
    padding-bottom: 17px;
    background-color: #000000;
}
.header-content{
    display: flex;
    align-items: center;;
}
.header__logo{
    margin-right: 66px;

}
.header__contact{
    padding: 4px 8px;
    width: 151px;
    height: 32px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 4px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    margin-right: 282px;
}

.header__nav-list{
    display: flex;
}

.header__nav-item:not(:last-child){
    margin-right: 20px;
}

.header__nav-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
}

.template{
    margin-left: auto;
}

.template-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    margin-right: 26px;
}

.template-btn{
    min-width: 207px;
    min-height: 48px;
    background: #FF7143;
    border-radius: 6px;
    padding: 12px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #000000;
}