.hero{
    background: #FF7143;
  
    
}
.hero-container{
    display: flex;
}
.hero-content{
    text-align: center;
   
margin-top: 50px;
margin-bottom: 50px;
   margin-left: 103px;
    margin-right: 253px;
}
.hero__tittle{
    font-weight: 700;
    font-size: 72px;
    line-height: 1;
    color: #000000;
    margin-bottom: 27px;
}

.hero__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    
    color: #000000;
    margin-bottom: 22px;
}

.hero-btn-first{
    min-width: 226px;
    height: 64px; 
    background: #000000;
    border-radius: 6px;
    padding: 20px 32px;
    color: #FFFFFF;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    margin-right: 8px;  
}
.hero-btn{
    width: 208px;
    height: 64px;
    padding: 20px 32px;
    background: #FFFFFF;
    border-radius: 6px;
    color: #000;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;

    margin-bottom: 160px;
}

.hero__list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
}
.hero-item:not(:last-child){
    margin-right: 10px;
}

.hero-label-text{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 16px;
    text-align: center;
}
.hero-label-post-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
/* identical to box height, or 150% */

}

.hero-span{
    font-weight: 400;
    font-size: 15px;
    line-height:1.60;
/* identical to box height, or 160% */
    color: rgba(0, 0, 0, 0.6);
}

.hero-img{

}