.icon{
    padding-top: 85px;
    padding-bottom: 83px;
}

.icon-list{
    display: flex;
}
.icon-label{
    background: #FDE7DA;
    border-radius: 0px;
    padding: 26px;
    width: 100px;height: 100px;
}
.icon-img{
    float: left;
}
.icon-tittle{
    text-align: right;
}