.modal{
    padding-bottom: 60px;
}
.modal-container{
    background: #FF7143;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
}
.modal-content{
  text-align: center;
  margin-left: 125px;  
  margin-right: 213px;
  @media screen and (max-width: 1279px){
    margin-left: auto;margin-right: auto;
    margin-bottom: 50px;
}
}
.modal__tittle{
    font-weight: 700;
    font-weight: 700;
font-size: 56px;
line-height: 1;
    margin-bottom: 27px;
}

.modal__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 22px;
}

.modal-btn-first{
    min-width: 226px;
    height: 64px; 
    background: #000000;
    border-radius: 6px;
    padding: 20px 32px;
    color: #FFFFFF;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    margin-right: 8px;  
    @media screen and (max-width:480px){
        margin-bottom: 25px;
    }
}
.modal-btn{
    width: 208px;
    height: 64px;
    padding: 20px 32px;
    background: #FFFFFF;
    border-radius: 6px;
    color: #000;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;

    
}
.modal-button{
    margin-bottom: 80px;
}
.modal__list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
}
.modal-item:not(:last-child){
    margin-right: 10px;
}

.modal-label-text{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 16px;
    text-align: center;
}
.modal-label-post-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
/* identical to box height, or 150% */

}

.modal-span{
    font-weight: 400;
    font-size: 15px;
    line-height:1.60;
/* identical to box height, or 160% */
    color: rgba(0, 0, 0, 0.6);
}

.modal-card{
    background: #FFFFFF;
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
    border-radius: 0px;
    max-width: 440px;
    max-height: 554px;
    @media screen and (max-width: 1279px){
        margin-left: auto;
        margin-right: auto;
        max-width: 350px;
        max-height: 500px;
    }
}
.modal-form{
    padding: 40px;
    @media screen and (max-width: 1279px){
        padding: 20px;
    }
}
.modal-form__tittle{
    font-weight: 700;
font-size: 32px;
line-height: 1.25;
/* identical to box height, or 125% */


color: #000000;
margin-bottom: 40px;
}
.modal-form__field{
    font-weight: 400;
font-size: 16px;
line-height:1.5;
/* identical to box height, or 150% */


color: #000000;
margin-bottom: 16px;
}
.modal-form__wrap{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #AAAAAA;
}
.modal-form__check{
    background: rgba(0, 0, 0, 0.05);
box-shadow: 0px 1px 3px rgba(14, 38, 86, 0.12);
border-radius: 6px;
}
.modal-form__input{
    background: rgba(0, 0, 0, 0.05);
border-radius: 6px;
width: 100%;
height: 64px;
padding-left: 30px;
}

.modal-btn-submit{
width: 360px;
height: 64px;
background: #000000;
border-radius: 6px;
font-weight: 700;
font-size: 16px;
line-height: 1.5;
color: #FFFFFF;
margin-bottom: 16px;
@media screen and (max-width: 1279px){
    display: inline-block;
    max-width: 300px;
    margin-bottom: 10px;
    align-items: center;
}
}
.modal-sign{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #000000;
text-align: center;
}
.treaty{
    color: #FF7143; 
}